<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ name }}</title>
</head>
<body>
    <!-- <div class="container">
        <img src="{{ photo }}" class="pokemon-photo">
        <div class="pokemon-info">
            <div class="pokemon_number">
                <span>#{{ pokemon_number }}</span>
            </div>
            <div class="specific-info">
                <h1>{{ name }}</h1>
                <h3 style="background-color: {{ type_color }}; width: fit-content; padding: 3px 10px">{{ pokemon_type }}</h3>
            </div>
        </div>
        <form action="{{ url_for('home') }}" method="post">
            <input type="submit" value="Go Back" class="goBackBtn" style="background-color: {{ type_color }};">
        </form>
    </div> -->

    <div class="container">
        <div class="pokemon">
            <div class="pokemon-number">
                <span class="pokemon-info" style="background-color: {{ type_color }};"># {{ pokemon_number }}</span>
            </div>
            <div class="pokemon-img">
                <img src="{{ photo }}" width="150px">
            </div>
            <div class="pokemon-name">
                <span style="font-weight: bold;">{{ name }}</span>
            </div>
            <div class="pokemon-type">
                <span class="pokemon-info" style="background-color: {{ type_color }};">{{ pokemon_type }}</span>
            </div>
        </div>

        <form action="{{ url_for('home') }}" method="post">
            <button class="goBackBtn" type="submit">Go back</button>
        </form>
    </div>

</body>
</html>